<ion-header>
    <ion-toolbar color="primary">
        <br><br><br><br>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="ion-text-center">Bienvenido a la aplicación de personajes de los simpsons</h1>
    <div class="ion-text-center">
        <img src="https://static.simpsonswiki.com/images/thumb/0/03/Tapped_Out_King-Size_Homer.png/130px-Tapped_Out_King-Size_Homer.png" alt="Homer">
    </div>
    <div class="ion-text-center">
        <ion-button routerLink="/character">Ir a los personajes</ion-button>
    </div>
</ion-content>